/* 
Reglas
Selectores
Declaraciones
Propiedades
Valores
*/


body{
    background:gainsboro;
}


/* Seletor de Etiquetas
header section article nav etc..

Selector descendente
body header nav oi li a

Selector de clases
se utiliza un . 

Selector de Id
se utiliza #


El Navegador Tiene una Hoja de Estilos
y cada navegador tiene una distinta

Nueva carpeta
*/

.barra {
background: silver;
color: rebeccapurple;
}

#contacto{
background: darkgrey;
}


