/* 
Reglas
Selectores
Declaraciones
Propiedades
Valores
*/


body{
    background:gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

h2 , h1{
    font-family:'Caveat', cursive;
    color: salmon; !important
}

.barra {
background: silver;
color: rebeccapurple;
}

#contacto{
background: darkgrey;
}

h3{
    font-size: 20px;
    line-height: 1,5;
    letter-spacing: -0.2;
    text-transform: capitalize;
    text-decoration: underline;
}
